Group members: Tongxin Zhu, Shan Du

In [1]:
import pandas as pd
import numpy as np

# Conduct Data Access and Profiling

In [2]:
#Read the dataset
df = pd.read_csv ('~/Desktop/Passengers_Satisfaction_Survey (1)-2.csv')
df.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,Male,Loyal Customer,69.0,Personal Travel,Business,-5421.0,3.0,2.0,3,5,1.0,1,3.0,14.0,0.0,Dissatisfied
1,Male,Disloyal Customer,20.0,Business travel,Eco,0.0,3.0,3.0,3,2,10.0,4,2.0,0.0,0.0,dissatisfied
2,Male,Disloyal Customer,41.0,Business travel,Business,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
3,Male,Loyal Customer,52.0,Business travel,Business,0.0,2.0,4.0,4,1,2.0,2,4.0,0.0,6.0,Dissatisfied
4,Female,Disloyal Customer,21.0,Business travel,Business,0.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral

In [3]:
#Subset the dataset with only 'Class' = 'Business'
df_Business = df[(df["Class"] == "Business")] 
df_Business.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,Male,Loyal Customer,69.0,Personal Travel,Business,-5421.0,3.0,2.0,3,5,1.0,1,3.0,14.0,0.0,Dissatisfied
2,Male,Disloyal Customer,41.0,Business travel,Business,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
3,Male,Loyal Customer,52.0,Business travel,Business,0.0,2.0,4.0,4,1,2.0,2,4.0,0.0,6.0,Dissatisfied
4,Female,Disloyal Customer,21.0,Business travel,Business,0.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
5,Female,Loyal Customer,57.0,Business travel,Business,0.0,3.0,4.0,4,5,2.0,3,2.0,0.0,0.0,Dissatisfied

In [4]:
#df_Business has 50000 rows and 16 columns
df_Business.shape

(50000, 16)

In [5]:
#The name and data type of each data column
df_Business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 104909
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             48239 non-null  object
 1   Customer Type                      48239 non-null  object
 2   Age                                47373 non-null  float64
 3   Type of Travel                     48239 non-null  object
 4   Class                              50000 non-null  object
 5   Flight Distance                    46604 non-null  float64
 6   Inflight wifi service              48239 non-null  float64
 7   Departure/Arrival time convenient  48239 non-null  float64
 8   Ease of Online booking             42705 non-null  object
 9   Food and drink                     42705 non-null  object
 10  Inflight entertainment             43649 non-null  float64
 11  Baggage handling                   43649 non-null  object
 12  Cleanliness                        43649 non-null  float64
 13  Departure Delay in Minutes         43649 non-null  float64
 14  Arrival Delay in Minutes           42098 non-null  float64
 15  Satisfaction                       47840 non-null  object
dtypes: float64(8), object(8)
memory usage: 6.5+ MB

In [6]:
#The unique values of each column
for col in df_Business.columns:
    print(col)
    unique = df_Business[col].unique()
    print(unique, '\n*************************************\n\n')

Gender
['Male' 'Female' 'F' 'M' nan]
*************************************


Customer Type
['Loyal Customer' 'Disloyal Customer' nan 'disloyal' 'Loyal']
*************************************


Age
[ 69.  41.  52.  21.  57.  45.  39.  33.  10.  55.  59.  53.  56.  47.
  54.  25.  51.  60.  27.  43.  20.  19.  63.  50.  nan  38.  46.  85.
  26.  42.  30.  24.  22.  17.  48.  40.  16.  32.  35.  44.  49.  65.
  67.  66.  64.   7.  37.  36.  15.  62.  34.   0.  68.  70.  58.  11.
  74.  13.  80.  75.   9.  61.  71.  12.  73.  72.  18.  79.   8.  76.
  14.  77.  78. 180. 185.]
*************************************


Type of Travel
['Personal Travel' 'Business travel' 'Business' nan]
*************************************


Class
['Business']
*************************************


Flight Distance
[-5.421e+03  0.000e+00  5.600e+01 ...  4.983e+03  2.820e+06  9.000e+06]
*************************************


Inflight wifi service
[ 3.  1.  2.  4.  0.  5. nan]
*************************************


Departure/Arrival time convenient
[ 2.  1.  4.  0.  5.  3. nan]
*************************************


Ease of Online booking
['3' nan '4' '0' '5' 'Unknown' '2' '1']
*************************************


Food and drink
['5' nan '1' '3' 'Great' '4' '2' '0']
*************************************


Inflight entertainment
[ 1. nan  2.  3.  4.  5. 10.  0.]
*************************************


Baggage handling
['1' nan '2' '3' '5' '4' 'A']
*************************************


Cleanliness
[ 3. nan  4.  2.  5.  0.]
*************************************


Departure Delay in Minutes
[ 1.400e+01        nan  0.000e+00 -2.000e+00  1.000e+01  3.600e+01
  9.000e+00  3.500e+01  7.000e+00  1.100e+01  6.100e+01  2.000e+01
  1.160e+02  2.600e+01  1.300e+01  5.000e+01  7.100e+01  2.700e+01
  2.500e+01  6.000e+00  1.500e+01  3.200e+01  1.130e+02  1.000e+00
  3.000e+00  4.600e+01  4.200e+01  2.100e+01  4.300e+01  1.140e+02
  3.400e+01  2.300e+01  8.000e+00  5.000e+00  4.900e+01  7.600e+01
  3.700e+01  2.900e+01  1.340e+02  2.800e+01  1.900e+01  5.700e+01
  6.400e+01  2.000e+00  4.550e+02  1.230e+02  1.220e+02  4.000e+00
  1.010e+02  3.100e+01  3.900e+01  1.400e+02  8.900e+01  4.000e+01
  1.800e+01  2.400e+01  2.200e+01  1.110e+02  1.630e+02  9.300e+01
  1.600e+01  3.000e+01  4.700e+01  6.300e+01  1.700e+01  8.400e+01
  6.500e+01  4.500e+01  6.000e+01  7.700e+01  1.200e+01  3.800e+01
  1.610e+02  8.000e+01  7.400e+01  1.560e+02  3.300e+01  1.050e+02
  9.500e+01  8.800e+01  1.260e+02  1.950e+02  9.400e+01  4.800e+01
  1.060e+02  2.490e+02  7.800e+01  9.600e+01  7.200e+01  1.040e+02
  1.070e+02  1.720e+02  1.360e+02  4.400e+01  9.800e+01  8.700e+01
  9.100e+01  3.300e+02  5.800e+01  7.000e+01  1.250e+02  1.350e+02
  3.240e+02  6.800e+01  5.300e+01  1.200e+02  5.500e+01  5.900e+01
  9.700e+01  1.490e+02  5.200e+01  1.180e+02  5.600e+01  8.200e+01
  1.080e+02  1.520e+02  6.200e+01  2.100e+02  1.570e+02  5.400e+01
  1.470e+02  8.300e+01  1.380e+02  1.420e+02  1.280e+02  4.100e+01
  1.240e+02  2.000e+02  2.210e+02  8.100e+01  8.500e+01  1.100e+02
  7.300e+01  2.620e+02  6.600e+01  2.650e+02  8.600e+01  1.670e+02
  5.100e+01  1.580e+02  2.060e+02  1.680e+02  1.210e+02  2.420e+02
  1.990e+02  6.900e+01  6.700e+01  2.090e+02  1.410e+02  1.620e+02
  9.900e+01  7.500e+01  1.700e+02  1.830e+02  1.480e+02  4.020e+02
  1.800e+02  2.530e+02  1.510e+02  1.270e+02  2.520e+02  1.120e+02
  3.280e+02  1.840e+02  1.910e+02  7.900e+01  2.040e+02  2.550e+02
  2.820e+02  1.170e+02  2.400e+02  1.430e+02  1.590e+02  1.870e+02
  1.320e+02  1.000e+02  1.640e+02  2.380e+02  2.980e+02  1.850e+02
  2.760e+02  9.200e+01  1.710e+02  1.290e+02  1.190e+02  2.010e+02
  1.740e+02  6.920e+02  1.460e+02  1.780e+02  1.150e+02  1.540e+02
  9.000e+01  1.530e+02  1.370e+02  1.970e+02  1.750e+02  1.300e+02
  1.440e+02  1.960e+02  2.580e+02  2.270e+02  1.020e+02  2.030e+02
  3.590e+02  2.440e+02  1.900e+02  1.090e+02  3.260e+02  3.210e+02
  1.500e+02  3.510e+02  2.450e+02  2.720e+02  1.810e+02  2.110e+02
  2.160e+02  3.470e+02  1.310e+02  1.450e+02  3.830e+02  9.210e+02
  1.600e+02  1.660e+02  1.860e+02  1.650e+02  2.050e+02  3.360e+02
  1.930e+02  1.730e+02  4.300e+02  2.350e+02  1.820e+02  1.790e+02
  1.880e+02  2.740e+02  4.010e+02  1.940e+02  3.530e+02  2.190e+02
  3.030e+02  2.970e+02  1.030e+02  2.410e+02  2.120e+02  1.920e+02
  2.140e+02  2.330e+02  2.070e+02  1.390e+02  4.350e+02  1.330e+02
  6.100e+02  2.790e+02  3.100e+02  2.080e+02  3.060e+02  2.240e+02
  3.680e+02  2.480e+02  1.550e+02  2.590e+02  2.660e+02  3.380e+02
  2.670e+02  2.910e+02  2.180e+02  3.180e+02  2.150e+02  2.710e+02
  2.930e+02  2.130e+02  2.690e+02  2.850e+02  3.090e+02  4.520e+02
  3.220e+02  2.320e+02  4.230e+02  3.940e+02  2.920e+02  1.760e+02
  2.230e+02  2.860e+02  2.750e+02  3.330e+02  1.690e+02  2.460e+02
  2.730e+02  2.390e+02  4.800e+02  3.810e+02  3.020e+02  8.590e+02
  2.260e+02  2.900e+02  5.030e+02  1.890e+02  2.360e+02  1.770e+02
  3.420e+02  1.980e+02  3.070e+02  2.020e+02  2.640e+02  3.700e+02
  1.017e+03  4.650e+02  2.810e+02  4.630e+02  2.250e+02  9.330e+02
  3.170e+02  4.100e+02  4.070e+02  2.940e+02  3.570e+02  2.870e+02
  9.300e+02  3.040e+02  3.480e+02  3.400e+02  4.440e+02  2.770e+02
  4.290e+02  2.500e+02  3.190e+02  3.120e+02  3.130e+02  3.880e+02
  2.680e+02  4.150e+02  4.540e+02  3.920e+02  1.305e+03  2.290e+02
  2.200e+02  2.430e+02  4.500e+02  3.500e+02  2.220e+02  3.340e+02
  2.990e+02  2.170e+02  3.080e+02  3.440e+02  3.200e+02  5.010e+02
  4.380e+02  3.520e+02  3.580e+02  2.560e+02  2.600e+02  3.410e+02
  3.310e+02  2.890e+02  3.710e+02  2.280e+02  8.530e+02]
*************************************


Arrival Delay in Minutes
[ 0.000e+00        nan  6.000e+00  2.100e+01  1.200e+01  1.600e+01
  8.000e+00  4.900e+01  3.600e+01  6.500e+01  1.000e+01  1.070e+02
  1.030e+02  9.000e+00  1.800e+01  4.300e+01 -4.500e+01  6.600e+01
  2.500e+01  1.300e+01  2.400e+01  1.050e+02  1.400e+01  7.000e+00
  5.700e+01  2.900e+01  3.900e+01  1.200e+02  6.300e+01  2.700e+01
  3.000e+00  2.200e+01  2.800e+01  1.000e+00  5.900e+01  2.000e+00
  7.000e+01  4.000e+00  3.000e+01  1.900e+01  1.500e+01  1.290e+02
  4.400e+01  5.200e+01  2.100e+02  1.240e+02  1.190e+02  5.000e+00
  4.200e+01  3.300e+01  9.800e+01  3.400e+01  3.100e+01  4.800e+01
  1.560e+02  8.400e+01  2.000e+01  4.600e+01  5.300e+01  1.210e+02
  1.100e+02  1.700e+01  1.570e+02  8.700e+01  3.800e+01  4.000e+01
  9.900e+01  3.200e+01  5.500e+01  6.900e+01  4.100e+01  8.300e+01
  6.700e+01  9.600e+01  6.000e+01  4.500e+01  7.800e+01  2.600e+01
  2.300e+01  3.700e+01  1.710e+02  7.100e+01  8.100e+01  1.680e+02
  8.000e+01  3.500e+01  8.900e+01  1.100e+01  8.500e+01  2.000e+02
  7.300e+01  9.300e+01  6.400e+01  1.040e+02  5.000e+01  2.480e+02
  1.220e+02  1.170e+02  9.700e+01  1.630e+02  1.350e+02  1.460e+02
  1.400e+02  6.800e+01  7.200e+01  1.280e+02  3.480e+02  7.700e+01
  1.340e+02  9.400e+01  1.330e+02  3.230e+02  1.150e+02  7.400e+01
  5.800e+01  9.100e+01  1.770e+02  1.250e+02  1.380e+02  2.060e+02
  1.000e+02  5.400e+01  2.590e+02  7.500e+01  1.610e+02  1.370e+02
  1.310e+02  2.330e+02  2.170e+02  1.300e+02  1.420e+02  1.010e+02
  1.540e+02  2.560e+02  1.120e+02  4.700e+01  6.200e+01  2.600e+02
  1.940e+02  2.090e+02  1.180e+02  9.200e+01  2.280e+02  7.900e+01
  1.500e+02  1.880e+02  7.600e+01  1.530e+02  1.390e+02  9.000e+01
  2.460e+02  9.500e+01  6.100e+01  2.030e+02  1.430e+02  1.580e+02
  1.740e+02  1.870e+02  5.600e+01  5.100e+01  3.890e+02  1.060e+02
  2.570e+02  1.690e+02  2.240e+02  1.950e+02  2.750e+02  8.800e+01
  1.090e+02  3.300e+02  1.800e+02  1.730e+02  8.600e+01  1.130e+02
  1.360e+02  2.020e+02  2.550e+02  3.050e+02  2.250e+02  8.200e+01
  1.480e+02  1.160e+02  1.860e+02  1.260e+02  2.040e+02  2.870e+02
  1.810e+02  1.470e+02  1.760e+02  2.930e+02  2.080e+02  1.590e+02
  1.270e+02  7.020e+02  1.850e+02  1.670e+02  1.020e+02  1.230e+02
  1.650e+02  1.820e+02  2.950e+02  1.520e+02  1.910e+02  1.640e+02
  2.180e+02  2.620e+02  2.680e+02  1.080e+02  3.790e+02  1.930e+02
  2.400e+02  3.660e+02  1.920e+02  1.720e+02  3.600e+02  3.360e+02
  2.980e+02  2.300e+02  2.670e+02  1.490e+02  1.140e+02  1.320e+02
  1.410e+02  1.830e+02  1.960e+02  2.310e+02  3.590e+02  2.290e+02
  3.860e+02  9.240e+02  2.130e+02  2.660e+02  1.450e+02  2.160e+02
  1.510e+02  2.350e+02  3.270e+02  1.780e+02  1.600e+02  2.320e+02
  4.380e+02  2.430e+02  1.700e+02  2.630e+02  4.040e+02  2.840e+02
  2.490e+02  1.980e+02  3.020e+02  2.900e+02  1.840e+02  2.270e+02
  2.120e+02  1.620e+02  2.230e+02  4.700e+02  1.550e+02  5.930e+02
  3.090e+02  2.990e+02  3.070e+02  3.570e+02  2.610e+02  2.190e+02
  3.040e+02  1.990e+02  2.920e+02  1.750e+02  3.010e+02  2.540e+02
  1.110e+02  2.580e+02  2.530e+02  2.700e+02  2.650e+02  2.850e+02
  2.500e+02  4.440e+02  4.030e+02  4.070e+02  3.340e+02  3.310e+02
  2.470e+02  2.640e+02  2.340e+02  2.210e+02  2.770e+02  3.800e+02
  1.890e+02  2.510e+02  3.080e+02  2.380e+02  2.520e+02  4.710e+02
  4.360e+02  3.190e+02  8.600e+02  2.780e+02  3.170e+02  5.070e+02
  1.660e+02  3.850e+02  2.050e+02  2.220e+02  1.011e+03  4.930e+02
  5.030e+02  2.810e+02  3.370e+02  9.200e+02  1.440e+02  1.790e+02
  3.240e+02  2.370e+02  2.720e+02  4.350e+02  4.090e+02  2.830e+02
  3.620e+02  2.890e+02  9.520e+02  2.880e+02  1.900e+02  3.000e+02
  3.210e+02  3.410e+02  2.010e+02  4.340e+02  3.920e+02  4.170e+02
  2.710e+02  3.200e+02  2.360e+02  4.100e+02  5.020e+02  3.810e+02
  1.280e+03  2.110e+02  2.970e+02  2.440e+02  3.880e+02  2.420e+02
  3.180e+02  3.700e+02  2.070e+02  3.830e+02  3.130e+02  2.260e+02
  1.970e+02  3.930e+02  5.000e+02  3.220e+02  3.350e+02  2.740e+02
  2.140e+02  2.200e+02  2.450e+02  2.790e+02  2.960e+02  3.390e+02
  3.160e+02  8.230e+02]
*************************************


Satisfaction
['Dissatisfied' 'neutral' 'satisfied' 'dissatisfied' nan]
*************************************

In [7]:
#The number of missing values of each column
df_Business.isnull().sum()

Gender                               1761
Customer Type                        1761
Age                                  2627
Type of Travel                       1761
Class                                   0
Flight Distance                      3396
Inflight wifi service                1761
Departure/Arrival time convenient    1761
Ease of Online booking               7295
Food and drink                       7295
Inflight entertainment               6351
Baggage handling                     6351
Cleanliness                          6351
Departure Delay in Minutes           6351
Arrival Delay in Minutes             7902
Satisfaction                         2160
dtype: int64

In [8]:
#Summary statistics for each data column
df_Business.describe()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Inflight entertainment,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,47373.000000,4.660400e+04,48239.000000,48239.000000,43649.000000,43649.000000,43649.000000,42098.000000
mean,41.853186,1.934737e+03,2.774519,2.910695,3.835391,3.737520,13.595363,13.059647
std,13.730683,4.369344e+04,1.423917,1.501711,1.233508,0.987664,36.595048,38.116530
min,0.000000,-5.421000e+03,0.000000,0.000000,0.000000,0.000000,-2.000000,-45.000000
25%,34.000000,5.940000e+02,2.000000,2.000000,3.000000,3.000000,0.000000,0.000000
50%,43.000000,1.597000e+03,3.000000,3.000000,4.000000,4.000000,0.000000,0.000000
75%,52.000000,2.565000e+03,4.000000,4.000000,5.000000,5.000000,10.000000,11.000000
max,185.000000,9.000000e+06,5.000000,5.000000,10.000000,5.000000,1305.000000,1280.000000

In [9]:
#Summary includes non numerical values
df_Business.describe(include = 'all')

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
count,48239,48239,47373.000000,48239,50000,4.660400e+04,48239.000000,48239.000000,42705,42705,43649.000000,43649,43649.000000,43649.000000,42098.000000,47840
unique,4,4,NaN,3,1,NaN,NaN,NaN,7,7,NaN,6,NaN,NaN,NaN,4
top,Female,Loyal Customer,NaN,Business travel,Business,NaN,NaN,NaN,3,4,NaN,4,NaN,NaN,NaN,satisfied
freq,23001,40770,NaN,44063,50000,NaN,NaN,NaN,8635,10890,NaN,17056,NaN,NaN,NaN,30400
mean,NaN,NaN,41.853186,NaN,NaN,1.934737e+03,2.774519,2.910695,NaN,NaN,3.835391,NaN,3.737520,13.595363,13.059647,NaN
std,NaN,NaN,13.730683,NaN,NaN,4.369344e+04,1.423917,1.501711,NaN,NaN,1.233508,NaN,0.987664,36.595048,38.116530,NaN
min,NaN,NaN,0.000000,NaN,NaN,-5.421000e+03,0.000000,0.000000,NaN,NaN,0.000000,NaN,0.000000,-2.000000,-45.000000,NaN
25%,NaN,NaN,34.000000,NaN,NaN,5.940000e+02,2.000000,2.000000,NaN,NaN,3.000000,NaN,3.000000,0.000000,0.000000,NaN
50%,NaN,NaN,43.000000,NaN,NaN,1.597000e+03,3.000000,3.000000,NaN,NaN,4.000000,NaN,4.000000,0.000000,0.000000,NaN
75%,NaN,NaN,52.000000,NaN,NaN,2.565000e+03,4.000000,4.000000,NaN,NaN,5.000000,NaN,5.000000,10.000000,11.000000,NaN
max,NaN,NaN,185.000000,NaN,NaN,9.000000e+06,5.000000,5.000000,NaN,NaN,10.000000,NaN,5.000000,1305.000000,1280.000000,NaN

In [10]:
#Frequency distribution
for col in df_Business.columns:
    print(col)
    value_counts = df_Business[col].value_counts()
    print(value_counts, '\n\n=======================================================')

Gender
Female    23001
Male      22830
F          1361
M          1047
Name: Gender, dtype: int64

=======================================================
Customer Type
Loyal Customer       40770
Disloyal Customer     6636
disloyal               831
Loyal                    2
Name: Customer Type, dtype: int64

=======================================================
Age
39.0     1935
40.0     1677
41.0     1533
42.0     1514
44.0     1506
         ...
73.0       22
78.0       17
85.0       14
180.0       1
185.0       1
Name: Age, Length: 74, dtype: int64

=======================================================
Type of Travel
Business travel    44063
Business            2122
Personal Travel     2054
Name: Type of Travel, dtype: int64

=======================================================
Class
Business    50000
Name: Class, dtype: int64

=======================================================
Flight Distance
337.0     225
2475.0    187
2586.0    148
404.0     133
1744.0    133
         ...
1386.0      1
938.0       1
2780.0      1
428.0       1
768.0       1
Name: Flight Distance, Length: 3573, dtype: int64

=======================================================
Inflight wifi service
2.0    10784
3.0    10593
4.0     9140
1.0     8808
5.0     7025
0.0     1889
Name: Inflight wifi service, dtype: int64

=======================================================
Departure/Arrival time convenient
4.0    9993
3.0    9220
2.0    9183
5.0    9173
1.0    8546
0.0    2124
Name: Departure/Arrival time convenient, dtype: int64

=======================================================
Ease of Online booking
3          8635
4          8627
2          8444
5          7713
1          7042
0          1747
Unknown     497
Name: Ease of Online booking, dtype: int64

=======================================================
Food and drink
4        10890
5        10296
3         9710
2         9567
1         1722
Great      497
0           23
Name: Food and drink, dtype: int64

=======================================================
Inflight entertainment
4.0     15884
5.0     13508
3.0      6772
2.0      5714
1.0      1451
10.0      314
0.0         6
Name: Inflight entertainment, dtype: int64

=======================================================
Baggage handling
4    17056
5    14375
3     5841
2     3783
1     1920
A      674
Name: Baggage handling, dtype: int64

=======================================================
Cleanliness
4.0    14132
3.0    12473
5.0    11704
2.0     5336
0.0        4
Name: Cleanliness, dtype: int64

=======================================================
Departure Delay in Minutes
0.0       24351
10.0       1401
1.0        1228
2.0         917
3.0         802
          ...
388.0         1
1305.0        1
1017.0        1
859.0         1
277.0         1
Name: Departure Delay in Minutes, Length: 358, dtype: int64

=======================================================
Arrival Delay in Minutes
0.0      24229
1.0        885
2.0        833
4.0        774
3.0        772
         ...
388.0        1
702.0        1
316.0        1
279.0        1
370.0        1
Name: Arrival Delay in Minutes, Length: 361, dtype: int64

=======================================================
Satisfaction
satisfied       30400
Dissatisfied     7795
neutral          6123
dissatisfied     3522
Name: Satisfaction, dtype: int64

=======================================================

In [11]:
#The dataset have total 3064 duplicated rows
duplicate = df_Business[df_Business.duplicated()]
print(df_Business.duplicated().sum())

3064

In [12]:
#Duplicated rows
duplicate

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
153,F,Disloyal Customer,25.0,Business,Business,67.0,1.0,0.0,1,3,3.0,4,3.0,0.0,0.0,NaN
349,NaN,NaN,NaN,NaN,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dissatisfied
369,NaN,NaN,NaN,NaN,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dissatisfied
705,NaN,NaN,NaN,NaN,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dissatisfied
1159,Female,Loyal Customer,49.0,Business travel,Business,101.0,1.0,4.0,4,3,2.0,1,3.0,11.0,14.0,Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104737,Female,Loyal Customer,37.0,Business travel,Business,3987.0,3.0,1.0,3,5,5.0,5,5.0,10.0,23.0,satisfied
104768,NaN,NaN,NaN,NaN,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dissatisfied
104789,Male,Loyal Customer,24.0,Business,Business,3993.0,2.0,5.0,5,2,2.0,A,2.0,23.0,-45.0,dissatisfied
104825,M,Loyal Customer,30.0,Business travel,Business,NaN,3.0,3.0,NaN,NaN,4.0,1,4.0,10.0,NaN,satisfied
104840,M,Loyal Customer,30.0,Business travel,Business,NaN,4.0,4.0,NaN,NaN,4.0,4,4.0,10.0,NaN,satisfied

## List of Issues
1. The dataset 'df_Business' which contains all passenger satisfaction data about only the Business Class has 50000 rows and 16 columns.

2. The columns contain float and object values.

3. There are improperly formatted data in almost all columns. Non numerial columns have duplicated values, and numerial columns have some negative values and some other values do not make sense.

4. The observed unique values are shown above.

5. Only 'Class' column does not have missing values since the dataset was filtered by specific 'Business Class', whereas other columns all have missing values.

6. Summary statistics have been shown above. 

7. Frequency distribution has been shown above.

8. There are total 3064 duplicated rows.

# Conduct Data Cleansing

In [13]:
#Drop the Class column
df_Business.drop(['Class'], axis = 1, inplace = False)
df_Business = df_Business.reset_index(drop = True)
df_Business.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Food and drink,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction
0,Male,Loyal Customer,69.0,Personal Travel,Business,-5421.0,3.0,2.0,3,5,1.0,1,3.0,14.0,0.0,Dissatisfied
1,Male,Disloyal Customer,41.0,Business travel,Business,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
2,Male,Loyal Customer,52.0,Business travel,Business,0.0,2.0,4.0,4,1,2.0,2,4.0,0.0,6.0,Dissatisfied
3,Female,Disloyal Customer,21.0,Business travel,Business,0.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral
4,Female,Loyal Customer,57.0,Business travel,Business,0.0,3.0,4.0,4,5,2.0,3,2.0,0.0,0.0,Dissatisfied

In [14]:
df_Business.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Food and drink', 'Inflight entertainment', 'Baggage handling',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'Satisfaction'],
      dtype='object')

In [15]:
#Rename columns
df_Business.rename(columns = lambda x: x.lower().replace(' ','_'), inplace= True)
df_Business.columns

Index(['gender', 'customer_type', 'age', 'type_of_travel', 'class',
       'flight_distance', 'inflight_wifi_service',
       'departure/arrival_time_convenient', 'ease_of_online_booking',
       'food_and_drink', 'inflight_entertainment', 'baggage_handling',
       'cleanliness', 'departure_delay_in_minutes', 'arrival_delay_in_minutes',
       'satisfaction'],
      dtype='object')

### Modify improperly formatted data and handle bad data
Base on the dsta dictionary provided

In [16]:
#Fix the gender column
#Replace 'F', 'M' with 'Female', 'Male'
df_Business['gender'] = df_Business['gender'].replace(['F', 'M'],['Female', 'Male'])

In [17]:
#Check updated gender column
df_Business['gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [18]:
#Fix the customer_type column
#Replace 'disloyal' with 'Disloyal Customer' and 'loyal', 'Loyal' with 'Loyal Customer'
df_Business['customer_type'] = df_Business['customer_type'].replace(['disloyal', 'loyal', 'Loyal'],['Disloyal Customer', 'Loyal Customer', 'Loyal Customer'])

In [19]:
#Check updated customer_type column
df_Business['customer_type'].unique()

array(['Loyal Customer', 'Disloyal Customer', nan], dtype=object)

In [20]:
#Fix the age column
#Replace 180 with 80, and 185 with 85 
#Replace 0 with the first mode value 
df_Business['age'] = df_Business['age'].replace([180, 185],[80, 85])
mode_value = df_Business['age'].mode()
df_Business['age'] = df_Business['age'].replace([0],[mode_value[0]])

In [21]:
#Check updated age column
df_Business['age'].unique()

array([69., 41., 52., 21., 57., 45., 39., 33., 10., 55., 59., 53., 56.,
       47., 54., 25., 51., 60., 27., 43., 20., 19., 63., 50., nan, 38.,
       46., 85., 26., 42., 30., 24., 22., 17., 48., 40., 16., 32., 35.,
       44., 49., 65., 67., 66., 64.,  7., 37., 36., 15., 62., 34., 68.,
       70., 58., 11., 74., 13., 80., 75.,  9., 61., 71., 12., 73., 72.,
       18., 79.,  8., 76., 14., 77., 78.])

In [22]:
#Fix the type_of_travel column 
#Replace 'Business', 'Business travel' with "Business Travel"
df_Business['type_of_travel'] = df_Business['type_of_travel'].replace(['Business', 'Business travel'],['Business Travel', 'Business Travel'])

In [23]:
#Check updated type_of_travel column
df_Business['type_of_travel'].unique()

array(['Personal Travel', 'Business Travel', nan], dtype=object)

In [24]:
#Fix the flight_distance column 
#Replace negative value with a positive one
#Replace 0 with the first mode value
df_Business['flight_distance'] = df_Business['flight_distance'].replace([-5.421e+03],[5.421e+03])
mode_value = df_Business['flight_distance'].mode()
df_Business['flight_distance'] = df_Business['flight_distance'].replace([0.000e+00],[mode_value[0]])

In [26]:
#Check updated flight_distance column
df_Business['flight_distance'].unique()
sorted(df_Business['flight_distance'].unique())

[56.0,
 67.0,
 73.0,
 74.0,
 76.0,
 77.0,
 78.0,
 80.0,
 82.0,
 83.0,
 84.0,
 86.0,
 89.0,
 90.0,
 95.0,
 96.0,
 98.0,
 100.0,
 101.0,
 102.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 133.0,
 134.0,
 135.0,
 137.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 337.0,
 5421.0,
 nan,
 146.0,
 147.0,
 148.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 162.0,
 163.0,
 164.0,
 166.0,
 168.0,
 169.0,
 170.0,
 171.0,
 173.0,
 174.0,
 175.0,
 177.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 247.0,
 248.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 283.0,
 284.0,
 285.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 295.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 304.0,
 305.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 311.0,
 312.0,
 313.0,
 314.0,
 315.0,
 316.0,
 317.0,
 319.0,
 320.0,
 321.0,
 322.0,
 323.0,
 325.0,
 326.0,
 327.0,
 328.0,
 329.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 338.0,
 340.0,
 341.0,
 342.0,
 343.0,
 344.0,
 345.0,
 346.0,
 347.0,
 348.0,
 349.0,
 351.0,
 352.0,
 353.0,
 354.0,
 355.0,
 356.0,
 357.0,
 358.0,
 359.0,
 361.0,
 362.0,
 363.0,
 364.0,
 365.0,
 366.0,
 368.0,
 369.0,
 370.0,
 371.0,
 372.0,
 373.0,
 374.0,
 375.0,
 376.0,
 377.0,
 378.0,
 380.0,
 381.0,
 382.0,
 383.0,
 384.0,
 386.0,
 387.0,
 388.0,
 390.0,
 391.0,
 393.0,
 395.0,
 396.0,
 397.0,
 399.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 416.0,
 417.0,
 419.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 440.0,
 441.0,
 442.0,
 444.0,
 445.0,
 446.0,
 447.0,
 448.0,
 449.0,
 450.0,
 451.0,
 452.0,
 453.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 463.0,
 464.0,
 466.0,
 467.0,
 468.0,
 469.0,
 471.0,
 472.0,
 473.0,
 474.0,
 475.0,
 476.0,
 479.0,
 480.0,
 481.0,
 482.0,
 483.0,
 484.0,
 486.0,
 488.0,
 489.0,
 490.0,
 491.0,
 493.0,
 494.0,
 495.0,
 496.0,
 500.0,
 501.0,
 502.0,
 503.0,
 505.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 512.0,
 513.0,
 515.0,
 516.0,
 517.0,
 519.0,
 521.0,
 522.0,
 523.0,
 524.0,
 525.0,
 526.0,
 528.0,
 529.0,
 530.0,
 531.0,
 532.0,
 533.0,
 534.0,
 535.0,
 536.0,
 537.0,
 539.0,
 541.0,
 542.0,
 543.0,
 544.0,
 545.0,
 546.0,
 547.0,
 548.0,
 549.0,
 550.0,
 551.0,
 552.0,
 554.0,
 556.0,
 557.0,
 558.0,
 561.0,
 562.0,
 563.0,
 564.0,
 565.0,
 566.0,
 567.0,
 569.0,
 570.0,
 571.0,
 572.0,
 573.0,
 574.0,
 575.0,
 576.0,
 577.0,
 578.0,
 579.0,
 580.0,
 581.0,
 583.0,
 584.0,
 585.0,
 586.0,
 587.0,
 588.0,
 589.0,
 590.0,
 591.0,
 592.0,
 593.0,
 594.0,
 595.0,
 596.0,
 597.0,
 598.0,
 599.0,
 600.0,
 601.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 609.0,
 610.0,
 611.0,
 612.0,
 613.0,
 615.0,
 616.0,
 617.0,
 618.0,
 620.0,
 621.0,
 622.0,
 624.0,
 626.0,
 627.0,
 628.0,
 629.0,
 630.0,
 631.0,
 632.0,
 633.0,
 634.0,
 636.0,
 637.0,
 639.0,
 640.0,
 641.0,
 642.0,
 643.0,
 644.0,
 645.0,
 646.0,
 647.0,
 649.0,
 650.0,
 651.0,
 652.0,
 653.0,
 655.0,
 656.0,
 657.0,
 660.0,
 661.0,
 663.0,
 665.0,
 666.0,
 667.0,
 668.0,
 669.0,
 670.0,
 671.0,
 672.0,
 674.0,
 675.0,
 676.0,
 677.0,
 678.0,
 679.0,
 680.0,
 682.0,
 683.0,
 684.0,
 685.0,
 687.0,
 689.0,
 690.0,
 691.0,
 692.0,
 693.0,
 694.0,
 695.0,
 696.0,
 697.0,
 700.0,
 701.0,
 702.0,
 704.0,
 705.0,
 707.0,
 708.0,
 710.0,
 711.0,
 712.0,
 714.0,
 715.0,
 717.0,
 718.0,
 719.0,
 720.0,
 721.0,
 722.0,
 723.0,
 725.0,
 726.0,
 727.0,
 728.0,
 729.0,
 731.0,
 733.0,
 735.0,
 736.0,
 737.0,
 738.0,
 740.0,
 742.0,
 743.0,
 744.0,
 745.0,
 746.0,
 748.0,
 749.0,
 750.0,
 751.0,
 752.0,
 753.0,
 755.0,
 756.0,
 757.0,
 758.0,
 759.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 766.0,
 767.0,
 768.0,
 769.0,
 770.0,
 771.0,
 772.0,
 773.0,
 774.0,
 775.0,
 776.0,
 777.0,
 779.0,
 780.0,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 786.0,
 787.0,
 788.0,
 789.0,
 792.0,
 793.0,
 794.0,
 795.0,
 796.0,
 797.0,
 798.0,
 799.0,
 801.0,
 802.0,
 803.0,
 804.0,
 805.0,
 806.0,
 808.0,
 809.0,
 811.0,
 812.0,
 813.0,
 814.0,
 816.0,
 817.0,
 818.0,
 819.0,
 820.0,
 821.0,
 822.0,
 825.0,
 826.0,
 827.0,
 828.0,
 829.0,
 830.0,
 831.0,
 832.0,
 833.0,
 834.0,
 835.0,
 836.0,
 837.0,
 838.0,
 840.0,
 841.0,
 842.0,
 843.0,
 844.0,
 845.0,
 846.0,
 848.0,
 849.0,
 850.0,
 851.0,
 852.0,
 853.0,
 854.0,
 857.0,
 859.0,
 860.0,
 861.0,
 862.0,
 863.0,
 864.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 871.0,
 872.0,
 873.0,
 874.0,
 876.0,
 879.0,
 882.0,
 883.0,
 886.0,
 888.0,
 889.0,
 890.0,
 892.0,
 894.0,
 895.0,
 896.0,
 897.0,
 898.0,
 899.0,
 900.0,
 901.0,
 902.0,
 903.0,
 904.0,
 907.0,
 908.0,
 909.0,
 910.0,
 911.0,
 912.0,
 913.0,
 916.0,
 918.0,
 919.0,
 920.0,
 921.0,
 922.0,
 923.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 930.0,
 931.0,
 932.0,
 933.0,
 934.0,
 935.0,
 936.0,
 937.0,
 938.0,
 940.0,
 942.0,
 944.0,
 945.0,
 946.0,
 947.0,
 948.0,
 949.0,
 950.0,
 951.0,
 952.0,
 954.0,
 955.0,
 956.0,
 957.0,
 959.0,
 961.0,
 963.0,
 964.0,
 965.0,
 966.0,
 967.0,
 968.0,
 969.0,
 970.0,
 971.0,
 972.0,
 973.0,
 975.0,
 977.0,
 978.0,
 979.0,
 980.0,
 983.0,
 984.0,
 985.0,
 986.0,
 987.0,
 989.0,
 990.0,
 991.0,
 992.0,
 993.0,
 994.0,
 996.0,
 997.0,
 998.0,
 999.0,
 1000.0,
 1001.0,
 1004.0,
 1005.0,
 1007.0,
 1008.0,
 1009.0,
 1010.0,
 1011.0,
 1012.0,
 1013.0,
 1014.0,
 1015.0,
 1017.0,
 1020.0,
 1021.0,
 1022.0,
 1023.0,
 1024.0,
 1025.0,
 1026.0,
 1027.0,
 1028.0,
 1029.0,
 1031.0,
 1032.0,
 1033.0,
 1034.0,
 1035.0,
 1036.0,
 1037.0,
 1039.0,
 1040.0,
 1041.0,
 1042.0,
 1044.0,
 1045.0,
 1046.0,
 1047.0,
 1048.0,
 1050.0,
 1052.0,
 1053.0,
 1055.0,
 1056.0,
 1059.0,
 1061.0,
 1062.0,
 1063.0,
 1064.0,
 1065.0,
 1066.0,
 1067.0,
 1068.0,
 1069.0,
 1071.0,
 1072.0,
 1073.0,
 1074.0,
 1075.0,
 1076.0,
 1079.0,
 1080.0,
 1081.0,
 1083.0,
 1084.0,
 1085.0,
 1086.0,
 1087.0,
 1088.0,
 1089.0,
 1090.0,
 1091.0,
 1092.0,
 1095.0,
 1096.0,
 1097.0,
 1099.0,
 1101.0,
 1102.0,
 1103.0,
 1105.0,
 1106.0,
 1107.0,
 1108.0,
 1109.0,
 1110.0,
 1111.0,
 1114.0,
 1117.0,
 1118.0,
 1119.0,
 1120.0,
 1121.0,
 1123.0,
 1124.0,
 1126.0,
 1127.0,
 1128.0,
 1129.0,
 1130.0,
 1131.0,
 1132.0,
 1133.0,
 1134.0,
 1135.0,
 1136.0,
 1138.0,
 1139.0,
 1140.0,
 1142.0,
 1144.0,
 1145.0,
 1147.0,
 1148.0,
 1149.0,
 1150.0,
 1154.0,
 1155.0,
 1157.0,
 1158.0,
 1161.0,
 1162.0,
 1164.0,
 1165.0,
 1166.0,
 1167.0,
 1171.0,
 1172.0,
 1173.0,
 1174.0,
 1175.0,
 1176.0,
 1177.0,
 1179.0,
 1180.0,
 1182.0,
 1183.0,
 1184.0,
 1185.0,
 1186.0,
 1187.0,
 1188.0,
 1189.0,
 1190.0,
 1192.0,
 1194.0,
 1195.0,
 1197.0,
 1198.0,
 1199.0,
 1200.0,
 1201.0,
 1203.0,
 1204.0,
 1205.0,
 1208.0,
 1211.0,
 1212.0,
 1214.0,
 1215.0,
 1216.0,
 1217.0,
 1218.0,
 1220.0,
 1221.0,
 1222.0,
 1224.0,
 1226.0,
 1233.0,
 1235.0,
 1236.0,
 1237.0,
 1242.0,
 1243.0,
 1246.0,
 1249.0,
 1250.0,
 1256.0,
 1258.0,
 1259.0,
 1262.0,
 1264.0,
 1265.0,
 1269.0,
 1276.0,
 1277.0,
 1280.0,
 1282.0,
 1283.0,
 1285.0,
 1287.0,
 1288.0,
 1289.0,
 1290.0,
 1293.0,
 1294.0,
 1298.0,
 1299.0,
 1300.0,
 1303.0,
 1304.0,
 1306.0,
 1309.0,
 1310.0,
 1312.0,
 1313.0,
 1315.0,
 1321.0,
 1322.0,
 1325.0,
 1331.0,
 1333.0,
 1334.0,
 1337.0,
 1340.0,
 1342.0,
 1345.0,
 1346.0,
 1347.0,
 1348.0,
 1352.0,
 1355.0,
 1357.0,
 1358.0,
 1359.0,
 1360.0,
 ...]

In [27]:
#Check unique values of inflight_wifi_service column
df_Business['inflight_wifi_service'].unique()

array([ 3.,  1.,  2.,  4.,  0.,  5., nan])

In [28]:
#Fix the departure/arrival_time_convenient column
#Replace '0' with '1' becase we assume 0 indicates 'not good'
df_Business['departure/arrival_time_convenient'] = df_Business['departure/arrival_time_convenient'].replace([0],[1])

In [29]:
#Check updated departure/arrival_time_convenient column
df_Business['departure/arrival_time_convenient'].unique()

array([ 2.,  1.,  4.,  5.,  3., nan])

In [30]:
#Fix the ease_of_online_booking column
#Replace '0' with '1' and 'Unknown' with the first mode value
mode_value = df_Business['ease_of_online_booking'].mode()
df_Business['ease_of_online_booking'] = df_Business['ease_of_online_booking'].replace(['0', 'Unknown'],['1', mode_value[0]])

In [31]:
#Check updated ease_of_online_booking column
df_Business['ease_of_online_booking'].unique()

array(['3', nan, '4', '1', '5', '2'], dtype=object)

In [32]:
#Fix the food_and_drink column
#Replace 'Great' with '5' because 5 is the highest score which can be identified as great, and '0' with '1'
#Also, to unify the data format, replace int 5 with string '5' because there are still some null values in the column
#We will convert the data type later
mode_value = df_Business['food_and_drink'].mode()
df_Business['food_and_drink'] = df_Business['food_and_drink'].replace(['Great', 5, '0'],['5', '5', '1'])

In [33]:
#Check updated food_and_drink' column
df_Business['food_and_drink'].unique()

array(['5', nan, '1', '3', '4', '2'], dtype=object)

In [34]:
#Fix the inflight_entertainment column
#Replace '0' with '1', and '10' with '5' because 10 is a high score
#Some poeple might think the highest score is 10
mode_value = df_Business['inflight_entertainment'].mode()
df_Business['inflight_entertainment'] = df_Business['inflight_entertainment'].replace([0, 10],[1, 5])

In [35]:
#Check updated inflight_entertainment column
df_Business['inflight_entertainment'].unique()

array([ 1., nan,  2.,  3.,  4.,  5.])

In [36]:
#Fix the baggage_handling column
#Replace 'A' with '5' since A is always idtified as a good score, and unify the data format. 
df_Business['baggage_handling'] = df_Business['baggage_handling'].replace(['A', 5],['5', '5'])

In [37]:
#Check updated baggage_handling column
df_Business['baggage_handling'].unique()

array(['1', nan, '2', '3', '5', '4'], dtype=object)

In [38]:
#Fix the cleanliness column
#Replace '0.' with '1'
df_Business['cleanliness'] = df_Business['cleanliness'].replace([0.],[1])

In [39]:
#Check updated cleanliness column
df_Business['cleanliness'].unique()

array([ 3., nan,  4.,  2.,  5.,  1.])

In [40]:
#Fix the departure_delay_in_minutes column
#Replace the negative value with a positive one
df_Business['departure_delay_in_minutes'] = df_Business['departure_delay_in_minutes'].replace([-2.000e+00], [2.000e+00])

In [41]:
#Check updated departure_delay_in_minutes column
sorted(df_Business['departure_delay_in_minutes'].unique())

[4.0,
 12.0,
 14.0,
 nan,
 0.0,
 1.0,
 2.0,
 3.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 13.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 232.0,
 233.0,
 235.0,
 236.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 248.0,
 249.0,
 250.0,
 252.0,
 253.0,
 255.0,
 256.0,
 258.0,
 259.0,
 260.0,
 262.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 279.0,
 281.0,
 282.0,
 285.0,
 286.0,
 287.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 297.0,
 298.0,
 299.0,
 302.0,
 303.0,
 304.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 312.0,
 313.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 324.0,
 326.0,
 328.0,
 330.0,
 331.0,
 333.0,
 334.0,
 336.0,
 338.0,
 340.0,
 341.0,
 342.0,
 344.0,
 347.0,
 348.0,
 350.0,
 351.0,
 352.0,
 353.0,
 357.0,
 358.0,
 359.0,
 368.0,
 370.0,
 371.0,
 381.0,
 383.0,
 388.0,
 392.0,
 394.0,
 401.0,
 402.0,
 407.0,
 410.0,
 415.0,
 423.0,
 429.0,
 430.0,
 435.0,
 438.0,
 444.0,
 450.0,
 452.0,
 454.0,
 455.0,
 463.0,
 465.0,
 480.0,
 501.0,
 503.0,
 610.0,
 692.0,
 853.0,
 859.0,
 921.0,
 930.0,
 933.0,
 1017.0,
 1305.0]

In [42]:
#Fix the arrival_delay_in_minutes column
#Replace the negative value with a positive one
df_Business['arrival_delay_in_minutes'] = df_Business['arrival_delay_in_minutes'].replace([-4.500e+01], [4.500e+01])

In [43]:
#Check updated arrival_delay_in_minutes column
sorted(df_Business['arrival_delay_in_minutes'].unique())

[0.0,
 nan,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 240.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 263.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 270.0,
 271.0,
 272.0,
 274.0,
 275.0,
 277.0,
 278.0,
 279.0,
 281.0,
 283.0,
 284.0,
 285.0,
 287.0,
 288.0,
 289.0,
 290.0,
 292.0,
 293.0,
 295.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 304.0,
 305.0,
 307.0,
 308.0,
 309.0,
 313.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 323.0,
 324.0,
 327.0,
 330.0,
 331.0,
 334.0,
 335.0,
 336.0,
 337.0,
 339.0,
 341.0,
 348.0,
 357.0,
 359.0,
 360.0,
 362.0,
 366.0,
 370.0,
 379.0,
 380.0,
 381.0,
 383.0,
 385.0,
 386.0,
 388.0,
 389.0,
 392.0,
 393.0,
 403.0,
 404.0,
 407.0,
 409.0,
 410.0,
 417.0,
 434.0,
 435.0,
 436.0,
 438.0,
 444.0,
 470.0,
 471.0,
 493.0,
 500.0,
 502.0,
 503.0,
 507.0,
 593.0,
 702.0,
 823.0,
 860.0,
 920.0,
 924.0,
 952.0,
 1011.0,
 1280.0]

In [44]:
#Fix the satisfaction column
#Replkace 'satisfied' with 'Satisfied', 'dissatisfied' with 'Dissatisfied', and 'neutral' with 'Neutral'
df_Business['satisfaction'] = df_Business['satisfaction'].replace(['satisfied', 'dissatisfied', 'neutral'], ['Satisfied', 'Dissatisfied', 'Neutral'])

In [45]:
#Check updated satisfaction column
df_Business['satisfaction'].unique()

array(['Dissatisfied', 'Neutral', 'Satisfied', nan], dtype=object)

In [46]:
#Check updated dataset
df_Business

,gender,customer_type,age,type_of_travel,class,flight_distance,inflight_wifi_service,departure/arrival_time_convenient,ease_of_online_booking,food_and_drink,inflight_entertainment,baggage_handling,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,Male,Loyal Customer,69.0,Personal Travel,Business,5421.0,3.0,2.0,3,5,1.0,1,3.0,14.0,0.0,Dissatisfied
1,Male,Disloyal Customer,41.0,Business Travel,Business,337.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neutral
2,Male,Loyal Customer,52.0,Business Travel,Business,337.0,2.0,4.0,4,1,2.0,2,4.0,0.0,6.0,Dissatisfied
3,Female,Disloyal Customer,21.0,Business Travel,Business,337.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neutral
4,Female,Loyal Customer,57.0,Business Travel,Business,337.0,3.0,4.0,4,5,2.0,3,2.0,0.0,0.0,Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Male,Loyal Customer,45.0,Business Travel,Business,3305.0,2.0,2.0,2,3,4.0,4,3.0,8.0,0.0,Satisfied
49996,Female,Loyal Customer,35.0,Business Travel,Business,337.0,5.0,5.0,5,2,4.0,4,5.0,54.0,40.0,Satisfied
49997,Male,Loyal Customer,47.0,Business Travel,Business,3496.0,2.0,2.0,2,2,5.0,5,4.0,0.0,2.0,Satisfied
49998,Male,Loyal Customer,42.0,Business Travel,Business,3605.0,4.0,4.0,4,3,4.0,4,3.0,0.0,0.0,Satisfied
49999,Female,Disloyal Customer,39.0,Business Travel,Business,862.0,5.0,5.0,5,5,5.0,1,5.0,9.0,5.0,Neutral

In [47]:
#Missing values
df_Business.isnull().sum()

gender                               1761
customer_type                        1761
age                                  2627
type_of_travel                       1761
class                                   0
flight_distance                      3396
inflight_wifi_service                1761
departure/arrival_time_convenient    1761
ease_of_online_booking               7295
food_and_drink                       7295
inflight_entertainment               6351
baggage_handling                     6351
cleanliness                          6351
departure_delay_in_minutes           6351
arrival_delay_in_minutes             7902
satisfaction                         2160
dtype: int64

In [48]:
#Fill missing values of categorical columns with 'Unknown' and numerical columns with the first mode value of each column
df_Business['gender'].fillna('Unknown', inplace = True)
df_Business['customer_type'].fillna('Unknown', inplace = True)
df_Business['age'].fillna(df_Business['age'].mode()[0], inplace = True)
df_Business['type_of_travel'].fillna('Unknown', inplace = True)
df_Business['flight_distance'].fillna(df_Business['flight_distance'].mode()[0], inplace = True)
df_Business['inflight_wifi_service'].fillna(df_Business['inflight_wifi_service'].mode()[0], inplace = True)
df_Business['departure/arrival_time_convenient'].fillna(df_Business['departure/arrival_time_convenient'].mode()[0], inplace = True)
df_Business['ease_of_online_booking'].fillna(df_Business['ease_of_online_booking'].mode()[0], inplace = True)
df_Business['food_and_drink'].fillna(df_Business['food_and_drink'].mode()[0], inplace = True)
df_Business['inflight_entertainment'].fillna(df_Business['inflight_entertainment'].mode()[0], inplace = True)
df_Business['baggage_handling'].fillna(df_Business['baggage_handling'].mode()[0], inplace = True)
df_Business['cleanliness'].fillna(df_Business['cleanliness'].mode()[0], inplace = True)
df_Business['departure_delay_in_minutes'].fillna(df_Business['departure_delay_in_minutes'].mode()[0], inplace = True)
df_Business['arrival_delay_in_minutes'].fillna(df_Business['arrival_delay_in_minutes'].mode()[0], inplace = True)
df_Business['satisfaction'].fillna('Unknown', inplace = True)

In [49]:
#Check if there are still missing values
df_Business.isnull().sum()

gender                               0
customer_type                        0
age                                  0
type_of_travel                       0
class                                0
flight_distance                      0
inflight_wifi_service                0
departure/arrival_time_convenient    0
ease_of_online_booking               0
food_and_drink                       0
inflight_entertainment               0
baggage_handling                     0
cleanliness                          0
departure_delay_in_minutes           0
arrival_delay_in_minutes             0
satisfaction                         0
dtype: int64

In [50]:
#Remove the fully duplicated observations
df_Business.drop_duplicates(inplace = True)

In [51]:
#Check if there are still duplicated rows
df_Business.duplicated().sum()

0

In [52]:
#Fix the columns datatypes
#Covert 'gender', 'customer_type', 'type_of_travel', 'class', 'satisfaction' to string
#Covert 'flight_distance', 'departure_delay_in_minutes', 'arrival_delay_in_minutes' to float
#Covert rest columns to int
df_Business['age'] = df_Business['age'].astype("Int64")
df_Business['inflight_wifi_service'] = df_Business['inflight_wifi_service'].astype("Int64")
df_Business['departure/arrival_time_convenient'] = df_Business['departure/arrival_time_convenient'].astype("Int64")
df_Business['ease_of_online_booking'] = df_Business['ease_of_online_booking'].astype('float').astype('Int64')
df_Business['food_and_drink'] = df_Business['food_and_drink'].astype('float').astype('Int64')
df_Business['inflight_entertainment'] = df_Business['inflight_entertainment'].astype('float').astype('Int64')
df_Business['baggage_handling'] = df_Business['baggage_handling'].astype('float').astype('Int64')
df_Business['cleanliness'] = df_Business['cleanliness'].astype('float').astype('Int64')
df_Business['gender'] = df_Business['gender'].astype("string")
df_Business['customer_type'] = df_Business['customer_type'].astype("string")
df_Business['type_of_travel'] = df_Business['type_of_travel'].astype("string")
df_Business['class'] = df_Business['class'].astype("string")
df_Business['satisfaction'] = df_Business['satisfaction'].astype("string")

In [53]:
#Updated data types
df_Business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46931 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             46931 non-null  string
 1   customer_type                      46931 non-null  string
 2   age                                46931 non-null  Int64
 3   type_of_travel                     46931 non-null  string
 4   class                              46931 non-null  string
 5   flight_distance                    46931 non-null  float64
 6   inflight_wifi_service              46931 non-null  Int64
 7   departure/arrival_time_convenient  46931 non-null  Int64
 8   ease_of_online_booking             46931 non-null  Int64
 9   food_and_drink                     46931 non-null  Int64
 10  inflight_entertainment             46931 non-null  Int64
 11  baggage_handling                   46931 non-null  Int64
 12  cleanliness                        46931 non-null  Int64
 13  departure_delay_in_minutes         46931 non-null  float64
 14  arrival_delay_in_minutes           46931 non-null  float64
 15  satisfaction                       46931 non-null  string
dtypes: Int64(8), float64(3), string(5)
memory usage: 6.4 MB

In [54]:
#Final version of dataset
df_Business

,gender,customer_type,age,type_of_travel,class,flight_distance,inflight_wifi_service,departure/arrival_time_convenient,ease_of_online_booking,food_and_drink,inflight_entertainment,baggage_handling,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,Male,Loyal Customer,69,Personal Travel,Business,5421.0,3,2,3,5,1,1,3,14.0,0.0,Dissatisfied
1,Male,Disloyal Customer,41,Business Travel,Business,337.0,1,1,3,4,4,4,4,0.0,0.0,Neutral
2,Male,Loyal Customer,52,Business Travel,Business,337.0,2,4,4,1,2,2,4,0.0,6.0,Dissatisfied
3,Female,Disloyal Customer,21,Business Travel,Business,337.0,4,1,3,4,4,4,4,0.0,0.0,Neutral
4,Female,Loyal Customer,57,Business Travel,Business,337.0,3,4,4,5,2,3,2,0.0,0.0,Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Male,Loyal Customer,45,Business Travel,Business,3305.0,2,2,2,3,4,4,3,8.0,0.0,Satisfied
49996,Female,Loyal Customer,35,Business Travel,Business,337.0,5,5,5,2,4,4,5,54.0,40.0,Satisfied
49997,Male,Loyal Customer,47,Business Travel,Business,3496.0,2,2,2,2,5,5,4,0.0,2.0,Satisfied
49998,Male,Loyal Customer,42,Business Travel,Business,3605.0,4,4,4,3,4,4,3,0.0,0.0,Satisfied
49999,Female,Disloyal Customer,39,Business Travel,Business,862.0,5,5,5,5,5,1,5,9.0,5.0,Neutral

# Export the cleaned dataset to CSV file

In [55]:
#Exporting data into csv file
df_Business.to_csv("~/Downloads/Project_2_Group1.csv", index= False)

# Compare the Data Characteristics Before and After Data Cleansing

In [56]:
#Shape of new dataset
df_Business.shape

(46931, 16)

In [57]:
#Unique values of new dataset
for col in df_Business.columns:
    print(col)
    value_counts = df_Business[col].value_counts()
    print(value_counts, '\n\n=======================================================')

gender
Female     24058
Male       22871
Unknown        2
Name: gender, dtype: Int64

=======================================================
customer_type
Loyal Customer       39655
Disloyal Customer     7274
Unknown                  2
Name: customer_type, dtype: Int64

=======================================================
age
39    3590
40    1659
41    1511
42    1501
44    1491
      ...
74      26
79      23
73      22
78      15
85      15
Name: age, Length: 71, dtype: Int64

=======================================================
type_of_travel
Business Travel    44904
Personal Travel     2025
Unknown                2
Name: type_of_travel, dtype: Int64

=======================================================
class
Business    46931
Name: class, dtype: Int64

=======================================================
flight_distance
337.0     1056
2475.0     183
2586.0     147
404.0      133
1744.0     132
          ...
428.0        1
218.0        1
1226.0       1
245.0        1
923.0        1
Name: flight_distance, Length: 3572, dtype: int64

=======================================================
inflight_wifi_service
2    10509
3    10298
4     8882
1     8542
5     6846
0     1854
Name: inflight_wifi_service, dtype: Int64

=======================================================
departure/arrival_time_convenient
1    10391
4     9697
3     8953
5     8952
2     8938
Name: departure/arrival_time_convenient, dtype: Int64

=======================================================
ease_of_online_booking
3    13721
1     8697
4     8527
2     8346
5     7640
Name: ease_of_online_booking, dtype: Int64

=======================================================
food_and_drink
4    15517
5    10603
3     9605
2     9477
1     1729
Name: food_and_drink, dtype: Int64

=======================================================
inflight_entertainment
4    19874
5    13474
3     6594
2     5551
1     1438
Name: inflight_entertainment, dtype: Int64

=======================================================
baggage_handling
4    21022
5    14674
3     5669
2     3698
1     1868
Name: baggage_handling, dtype: Int64

=======================================================
cleanliness
4    18145
3    12225
5    11378
2     5179
1        4
Name: cleanliness, dtype: Int64

=======================================================
departure_delay_in_minutes
0.0      28533
2.0       1336
1.0       1211
3.0        794
10.0       754
         ...
344.0        1
358.0        1
455.0        1
227.0        1
277.0        1
Name: departure_delay_in_minutes, Length: 357, dtype: int64

=======================================================
arrival_delay_in_minutes
0.0      29250
1.0        880
2.0        821
4.0        765
3.0        761
         ...
388.0        1
275.0        1
702.0        1
316.0        1
370.0        1
Name: arrival_delay_in_minutes, Length: 360, dtype: int64

=======================================================
satisfaction
Satisfied       29586
Dissatisfied    10212
Neutral          5002
Unknown          2131
Name: satisfaction, dtype: Int64

=======================================================

## Changes in each column
Total data points were reduced from 50000 to 46931 as we removed duplicated rows. <br>
**Gender** <br>
New name: gender <br>
Number of missing vales: 1761 -> 0 <br>
Filled missing values with 'Unknown' <br>
Data type: object -> string <br>
Unique values: 'Female', 'Male', 'F', 'M' -> 'Female', 'Male' <br>
**Customer Type** <br>
New name: customer_type <br>
Number of missing vales: 1761 -> 0 <br>
Filled missing values with 'Unknown' <br>
Data type: object -> string <br>
Unique values: 'Loyal Customer', 'Disloyal Customer', 'disloyal', 'Loyal' -> 'Loyal Customer', 'Disloyal Customer' <br>
**Age** <br>
New name: age <br>
Number of missing vales: 2627 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: float -> int <br>
Unique values show below <br>
**Type of Travel** <br>
New name: type_of_travel <br>
Number of missing vales: 1761 -> 0 <br>
Filled missing values with 'Unknown' <br>
Data type: object -> string <br>
Unique values: 'Business travel', 'Business', 'Personal Travel' -> 'Business Travel', 'Personal Travel'<br>
**Class** <br>
New name: class <br>
Data type: object -> string <br>
**Flight Distance** <br>
New name: flight_distance <br>
Number of missing vales: 3396 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: float -> float <br>
Unique values show below<br>
**Inflight wifi service** <br>
New name: inflight_wifi_service <br>
Number of missing vales: 1761 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: float -> int <br>
Changed unique values to 0-5 <br>
**Departure/Arrival time convenient** <br>
New name: departure/arrival_time_convenient <br>
Number of missing vales: 1761 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: float -> int <br>
Changed unique values to 1-5 <br>
**Ease of Online booking** <br>
New name: ease_of_online_booking <br>
Number of missing vales: 7295 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: object -> int <br>
Changed unique values to 1-5 <br>
**Food and drink** <br>
New name: food_and_drink <br>
Number of missing vales: 7295 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: object -> int <br>
Changed unique values to 1-5 <br>
**Inflight entertainment** <br>
New name: inflight_entertainment <br>
Number of missing vales: 6351 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: float -> int <br>
Changed unique values to 1-5 <br>
**Baggage handling** <br>
New name: baggage_handling <br>
Number of missing vales: 6351 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: object -> int <br>
Changed unique values to 1-5 <br>
**Cleanliness** <br>
New name: cleanliness <br>
Number of missing vales: 6351 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: float -> int <br>
Changed unique values to 1-5 <br>
**Departure Delay in Minutes** <br>
New name: departure_delay_in_minutes <br>
Number of missing vales: 6351 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: float -> float <br>
Unique values show below <br>
**Arrival Delay in Minutes** <br>
New name: arrival_delay_in_minutes <br>
Number of missing vales: 7901 -> 0 <br>
Filled missing values with the first mode value, Replaced bad data <br>
Data type: float -> float <br>
Unique values show below <br>
**Satisfaction** <br>
New name: satisfaction <br>
Number of missing vales: 2160 -> 0 <br>
Filled missing values with 'Unknown' <br>
Data type: object -> string <br>
Unique values: 'satisfies', 'dissatisfied', 'neutral' -> 'Satisfied', 'Dissatisfied', 'Neutral' <br>

## Columns name and data type before cleaning

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 104909
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype  
---  ------                             --------------  -----  
 0   Gender                             48239 non-null  object 
 1   Customer Type                      48239 non-null  object 
 2   Age                                47373 non-null  float64
 3   Type of Travel                     48239 non-null  object 
 4   Class                              50000 non-null  object 
 5   Flight Distance                    46604 non-null  float64
 6   Inflight wifi service              48239 non-null  float64
 7   Departure/Arrival time convenient  48239 non-null  float64
 8   Ease of Online booking             42705 non-null  object 
 9   Food and drink                     42705 non-null  object 
 10  Inflight entertainment             43649 non-null  float64
 11  Baggage handling                   43649 non-null  object 
 12  Cleanliness                        43649 non-null  float64
 13  Departure Delay in Minutes         43649 non-null  float64
 14  Arrival Delay in Minutes           42098 non-null  float64
 15  Satisfaction                       47840 non-null  object 
dtypes: float64(8), object(8)
memory usage: 6.5+ MB

## Columns name and data type after cleaning

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46931 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype  
---  ------                             --------------  -----  
 0   gender                             46931 non-null  string 
 1   customer_type                      46931 non-null  string 
 2   age                                46931 non-null  Int64  
 3   type_of_travel                     46931 non-null  string 
 4   class                              46931 non-null  string 
 5   flight_distance                    46931 non-null  float64
 6   inflight_wifi_service              46931 non-null  Int64  
 7   departure/arrival_time_convenient  46931 non-null  Int64  
 8   ease_of_online_booking             46931 non-null  Int64  
 9   food_and_drink                     46931 non-null  Int64  
 10  inflight_entertainment             46931 non-null  Int64  
 11  baggage_handling                   46931 non-null  Int64  
 12  cleanliness                        46931 non-null  Int64  
 13  departure_delay_in_minutes         46931 non-null  float64
 14  arrival_delay_in_minutes           46931 non-null  float64
 15  satisfaction                       46931 non-null  string 
dtypes: Int64(8), float64(3), string(5)
memory usage: 6.4 MB

## Unique values and frequency distribution before cleaning

Gender
Female    23001
Male      22830
F          1361
M          1047
Name: Gender, dtype: int64 

=======================================================
Customer Type
Loyal Customer       40770
Disloyal Customer     6636
disloyal               831
Loyal                    2
Name: Customer Type, dtype: int64 

=======================================================
Age
39.0     1935
40.0     1677
41.0     1533
42.0     1514
44.0     1506
         ... 
73.0       22
78.0       17
85.0       14
180.0       1
185.0       1
Name: Age, Length: 74, dtype: int64 

=======================================================
Type of Travel
Business travel    44063
Business            2122
Personal Travel     2054
Name: Type of Travel, dtype: int64 

=======================================================
Class
Business    50000
Name: Class, dtype: int64 

=======================================================
Flight Distance
337.0     225
2475.0    187
2586.0    148
404.0     133
1744.0    133
         ... 
1386.0      1
938.0       1
2780.0      1
428.0       1
768.0       1
Name: Flight Distance, Length: 3573, dtype: int64 

=======================================================
Inflight wifi service
2.0    10784
3.0    10593
4.0     9140
1.0     8808
5.0     7025
0.0     1889
Name: Inflight wifi service, dtype: int64 

=======================================================
Departure/Arrival time convenient
4.0    9993
3.0    9220
2.0    9183
5.0    9173
1.0    8546
0.0    2124
Name: Departure/Arrival time convenient, dtype: int64 

=======================================================
Ease of Online booking
3          8635
4          8627
2          8444
5          7713
1          7042
0          1747
Unknown     497
Name: Ease of Online booking, dtype: int64 

=======================================================
Food and drink
4        10890
5        10296
3         9710
2         9567
1         1722
Great      497
0           23
Name: Food and drink, dtype: int64 

=======================================================
Inflight entertainment
4.0     15884
5.0     13508
3.0      6772
2.0      5714
1.0      1451
10.0      314
0.0         6
Name: Inflight entertainment, dtype: int64 

=======================================================
Baggage handling
4    17056
5    14375
3     5841
2     3783
1     1920
A      674
Name: Baggage handling, dtype: int64 

=======================================================
Cleanliness
4.0    14132
3.0    12473
5.0    11704
2.0     5336
0.0        4
Name: Cleanliness, dtype: int64 

=======================================================
Departure Delay in Minutes
0.0       24351
10.0       1401
1.0        1228
2.0         917
3.0         802
          ...  
388.0         1
1305.0        1
1017.0        1
859.0         1
277.0         1
Name: Departure Delay in Minutes, Length: 358, dtype: int64 

=======================================================
Arrival Delay in Minutes
0.0      24229
1.0        885
2.0        833
4.0        774
3.0        772
         ...  
388.0        1
702.0        1
316.0        1
279.0        1
370.0        1
Name: Arrival Delay in Minutes, Length: 361, dtype: int64 

=======================================================
Satisfaction
satisfied       30400
Dissatisfied     7795
neutral          6123
dissatisfied     3522
Name: Satisfaction, dtype: int64 

=======================================================

## Unique values and frequency distribution after cleaning

gender
Female     24058
Male       22871
Unknown        2
Name: gender, dtype: Int64 

=======================================================
customer_type
Loyal Customer       39655
Disloyal Customer     7274
Unknown                  2
Name: customer_type, dtype: Int64 

=======================================================
age
39    3590
40    1659
41    1511
42    1501
44    1491
      ... 
74      26
79      23
73      22
78      15
85      15
Name: age, Length: 71, dtype: Int64 

=======================================================
type_of_travel
Business Travel    44904
Personal Travel     2025
Unknown                2
Name: type_of_travel, dtype: Int64 

=======================================================
class
Business    46931
Name: class, dtype: Int64 

=======================================================
flight_distance
337.0     1056
2475.0     183
2586.0     147
404.0      133
1744.0     132
          ... 
428.0        1
218.0        1
1226.0       1
245.0        1
923.0        1
Name: flight_distance, Length: 3572, dtype: int64 

=======================================================
inflight_wifi_service
2    10509
3    10298
4     8882
1     8542
5     6846
0     1854
Name: inflight_wifi_service, dtype: Int64 

=======================================================
departure/arrival_time_convenient
1    10391
4     9697
3     8953
5     8952
2     8938
Name: departure/arrival_time_convenient, dtype: Int64 

=======================================================
ease_of_online_booking
3    13721
1     8697
4     8527
2     8346
5     7640
Name: ease_of_online_booking, dtype: Int64 

=======================================================
food_and_drink
4    15517
5    10603
3     9605
2     9477
1     1729
Name: food_and_drink, dtype: Int64 

=======================================================
inflight_entertainment
4    19874
5    13474
3     6594
2     5551
1     1438
Name: inflight_entertainment, dtype: Int64 

=======================================================
baggage_handling
4    21022
5    14674
3     5669
2     3698
1     1868
Name: baggage_handling, dtype: Int64 

=======================================================
cleanliness
4    18145
3    12225
5    11378
2     5179
1        4
Name: cleanliness, dtype: Int64 

=======================================================
departure_delay_in_minutes
0.0      28533
2.0       1336
1.0       1211
3.0        794
10.0       754
         ...  
344.0        1
358.0        1
455.0        1
227.0        1
277.0        1
Name: departure_delay_in_minutes, Length: 357, dtype: int64 

=======================================================
arrival_delay_in_minutes
0.0      29250
1.0        880
2.0        821
4.0        765
3.0        761
         ...  
388.0        1
275.0        1
702.0        1
316.0        1
370.0        1
Name: arrival_delay_in_minutes, Length: 360, dtype: int64 

=======================================================
satisfaction
Satisfied       29586
Dissatisfied    10212
Neutral          5002
Unknown          2131
Name: satisfaction, dtype: Int64 

=======================================================

## Number of missing values before cleaning

Gender                               1761
Customer Type                        1761
Age                                  2627
Type of Travel                       1761
Class                                   0
Flight Distance                      3396
Inflight wifi service                1761
Departure/Arrival time convenient    1761
Ease of Online booking               7295
Food and drink                       7295
Inflight entertainment               6351
Baggage handling                     6351
Cleanliness                          6351
Departure Delay in Minutes           6351
Arrival Delay in Minutes             7902
Satisfaction                         2160
dtype: int64

## Number of missing values after cleaning

gender                               0
customer_type                        0
age                                  0
type_of_travel                       0
class                                0
flight_distance                      0
inflight_wifi_service                0
departure/arrival_time_convenient    0
ease_of_online_booking               0
food_and_drink                       0
inflight_entertainment               0
baggage_handling                     0
cleanliness                          0
departure_delay_in_minutes           0
arrival_delay_in_minutes             0
satisfaction                         0
dtype: int64